<form action="/recipes" method="post">
  Name: <input type="text" name="recipe[name]">
  Ingredients: <input type="text" name="recipe[ingredients]">
  Cook Time: <input type="text" name="recipe[cook_time]">
  <input type="submit" value="submit">
</form>